@model IEnumerable<ASPNETWebAppMVCStudentApp.Student>

@{
    ViewBag.Title = "Students";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Students</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <th>@Html.DisplayNameFor(model => model.EnrollmentDate)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, new { @class = "btn btn-warning btn-sm" })
                                @Html.ActionLink("Details", "Details", new { id = item.StudentID }, new { @class = "btn btn-dark btn-sm" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary mt-3" })
            </div>
        </div>
    </div>
</div>

